!!! ALL
! Locale
*.locale: false
*.utf8: true

! Scrollback
*.saveLines: 4096

! Cursor
*.cursorBlink: true

! Escape char
*.metaSendsEscape: true
*.backarrowKey: false
*.ttyModes: erase ^?

! Clipboard
*.selectToClipboard: true

! Do not scroll with output
*.scrollTtyOutput: false
! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
*.scrollWithBuffer: true
! Scroll back to the bottom on keypress
*.scrollTtyKeypress: true

! Border
*.internalBorder: 10

!!! xterm
! Term name
xterm.termName: xterm-256color

! Font
xterm*faceName: Ubuntu Mono:style=Regular
xterm*faceSize: 13

! Keybinds
xterm*vt100.Translations: #override \
    Ctrl <Key> plus:           restore() \n\
    Ctrl Shift <Key> plus:           larger-vt-font() \n\
    Ctrl <Key> minus:          smaller-vt-font() \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! Scrollbar
xterm*vt100.ScrollBar: true
xterm*vt100.scrollbar.width: 8
xterm*vt100.rightScrollBar: true
xterm*vt100.leftScrollBar: false

! Cursor
xterm*v100.cursorBlink: true

!!! URxvt
! Font
URxvt.font: xft:Ubuntu Mono:size=13:antialias=true

! Geometry
URxvt*geometry: 80x240+0+0
! Scrollbar
URxvt.scrollBar_right: true
URxvt.scrollBar_left: false

! Scrollback disabled in secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Reduce spaing of text by one pixel
URxvt.letterSpace: -1

! Extensions to URXVT
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,url-select

! URL launcher
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg3

! URL without mouse
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Autocopy to clipboard
URxvt.clipboard.autocopy: true

! Common
#define base00 #002b36
#define base01 #073642
#define base02 #586e75
#define base03 #657b83
#define base04 #839496
#define base05 #93a1a1
#define base06 #eee8d5
#define base07 #fdf6e3
#define base08 #dc322f
#define base09 #cb4b16
#define base0A #b58900
#define base0B #859900
#define base0C #2aa198
#define base0D #268bd2
#define base0E #6c71c4
#define base0F #d33682

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
